*{
  color: #e7b203;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3d3d3d !important;
}

/* Apply styles to the <ul> and <li> elements */
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    border-top: black solid clear;
    border-bottom: black solid clear;
    box-shadow: 0 0 5px #ffbb00;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #e7b203;
  }
  
  /* Additional styling for better visibility */
  .menu li:hover {
    background-color: #c7980075;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
  }

  footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1px;
}

h1,main {
  text-align: center;
}

