footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1px;
}


.image-sandbox {

    position: absolute;
    top: 100px;
    right: 1000px;

    
    @media screen and (max-width: 768px) {
        /* Adjust position for screens up to 768px wide */
        top: 50px;
        left: 100px;
    }
}
