
/* Apply styles to the <ul> and <li> elements */
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    border-top: black solid thin;
    border-bottom: black solid thin;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
  }
  
  /* Additional styling for better visibility */
  .menu li:hover {
    background-color: #f0f0f0;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
  }


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1px;
}

h1 {
  text-align: center;
}

/* .fix-later {
  height: 100vh;
} */

.image-sandbox {
    display: flex;
    position: absolute;
    top: 250px;
    right: 300px;

    
    @media screen and (max-width: 768px) {
        /* Adjust position for screens up to 768px wide */
        top: 50px;
        left: 100px;
    }
}
