/* Apply styles to the <ul> and <li> elements */
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  border-top: black solid thin;
  border-bottom: black solid thin;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: black;
}

/* Additional styling for better visibility */
.menu li:hover {
  background-color: #f0f0f0;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* Add styles for the login form */
.login-form {
  max-width: 450px; /* Adjust the maximum width as needed */
  margin: 0 auto;  /* Center the form horizontally */
  border: 0.5px solid black; /* Add a black border */
  border-radius: 10px;
  padding: 10px; /* Add some padding for spacing */
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1px;
}

h1 {
  text-align: center;
}